################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CreateHiddenProcess/bin
/CreateHiddenProcess/obj
/.vs
/CreateHiddenProcessLib/bin
/CreateHiddenProcessLib/obj
/packages
